<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean name="student1" class="com.Learning.Testing.Student">

		<property name="studenId" value="1810" />
		<property name="Name" value="Adolph" />
		<property name="Address" value="Nallasopara" />
	</bean>

	<bean name="student2" class="com.Learning.Testing.Student" p:studenId="1710" p:Name="Prapti" p:Address="Thane" />
</beans>